[2013-09-23 03:30] wesleytodd opened #2 "White is a little off"
I took this screenshot using the function `chalk.white()`:
![screen shot 2013-09-22 at 10 24 17 pm](https://f.cloud.github.com/assets/1027776/1189103/ccd3f50c-23ff-11e3-8977-7e4eb20a3116.png)

Notice how the string "test" is is white, but the first part is kind-of gray?

I changed the white entry to `white: ['\x1b[0m', '\x1b[0m']` and now I get:
![screen shot 2013-09-22 at 10 24 49 pm](https://f.c

[2013-10-14 18:16] #2 closed, assigned to nobody

[2014-03-24 06:17] silverwind opened #5 "Colors not shown in Systemd log"
I recently switched from `"\u001b[31m"` (red) style colors to chalk, and for some strange reason, `journalctl -o -cat` won't show any colors for my app, just a plain default text.

I see that this library does color encoding slightly different (It omits the two zeros and uses \x instead of \u), could that be an issue?

[2014-03-24 08:48] #5 closed, assigned to nobody

[2014-06-15 02:29] dougwilson opened #7 "Access specific style types"
I want to provide an API that would allow users to pick a color they want text in and use that color with this library to colorize. For example, here is a crude way:

[code]

What would be awesome is if there was a way to tell if `style` was a color and not something like `dim` (since I just want them to change the colors). Perhaps `ansi.color[color]`? Bonus points if I could take the same string

[2014-06-23 18:51] #7 closed, assigned to nobody

[2014-10-26 04:37] kentcdodds opened #9 "rebeccapurple?"
Just as a [nice gesture](http://lists.w3.org/Archives/Public/www-style/2014Jun/0312.html). Plus, I like the color :-)

[2014-11-23 06:47] #9 closed, assigned to nobody

[2015-06-23 23:24] Qix- opened #11 "256/16 million color support"
Yes, [it's time](https://twitter.com/sindresorhus/status/613460287270842368).

I spent the greater part of last night trying to figure out the best way to tackle compatibility with ANSI 256/16m (truecolor) support to where colors would degrade nicely. I started [writing my own](https://github.com/Qix-/ink) engine but alas I figured this may be better suited as a PR for an existing solution (i.e. N

[2015-06-23 23:42] jbnicolai commented on #11
Just a quick note (I'm traveling atm) that I did something similair a while back. You can probably find the discussion under chalk's issues and see my implementation here: https://github.com/jbnicolai/ansi-256-colors

[2015-06-23 23:48] Qix- commented on #11
@jbnicolai I stole the RGB -> ANSI 256 formula from there :wink: This proposal does something a little more than just that, though. If you wanted to, we could beef up the ansi-256-colors repository to do the color-to-ANSI-code conversions and then let this library use that? Though *ansi-256-colors* is a bit of a misnomer since we'd also be supporting truecolor as well.

[2015-06-23 23:52] jbnicolai commented on #11
Nah, I'm perfectly happy retiring that repository and beefing up the chalk/ansi-styles/supports-color stack, although I'm starting to think we should maybe move this set of repositories to their own organisation.

How would you feel about that, @sindresorhus?

[2015-06-23 23:54] Qix- commented on #11
http://github.com/chalk seems inactive. Github is pretty good about releasing inactive accounts. http://github.com/chalkjs is also unclaimed.

[2015-06-24 00:22] jbnicolai commented on #11
@Qix- yeah, completely agree those should probably come with as well. It's @sindresorhus' call though :)

[2015-06-24 00:28] Qix- commented on #11
:+1:

[2015-06-24 01:17] Qix- commented on #11
I'm looking at the existing code for this repo. It's pretty basic. It'd be pretty much a complete re-write.

[2015-06-30 03:53] Qix- commented on #11
I've started a bit of a re-write as it is. Any thoughts on this @sindresorhus?

[2015-06-30 20:13] sindresorhus commented on #11
I used up all my time today moving everything over to the `chalk` org. Will get back to this in a couple of days when I have more time. [Tweeted](https://twitter.com/sindresorhus/status/615969432163217408) about getting feedback on this, so we can hopefully get some more eyes on it.

[2015-06-30 20:22] Qix- commented on #11
Sounds good :+1:

[2015-06-30 20:33] sunesimonsen commented on #11
My package https://github.com/sunesimonsen/magicpen supports 256 with backwards compatibility with 16 color terminals. Maybe that could be a source of inspiration, the ansi serializer is here: https://github.com/sunesimonsen/magicpen/blob/master/lib/AnsiSerializer.js

[2015-06-30 21:21] Qix- commented on #11
@sunesimonsen and what of 16m colors?

[2015-07-01 05:00] sunesimonsen commented on #11
@Qix- we don't support that yet, but I'm curious to see what you come up with.

[2015-07-01 05:02] Qix- commented on #11
@sunesimonsen as in the original post here, we'd be using full RGB values and degrading into their lower forms (truecolor -> 256 -> 16 colors).

[2015-07-01 05:15] Qix- commented on #11
x-post: chalk/chalk#73

[2015-07-01 05:29] Qix- commented on #11
Also, another question is: where should everything go?

We have a few moving parts here:

- [Level](https://github.com/chalk/supports-color/pull/25/files#diff-0730bb7c2e8f9ea2438b52e419dd86c9R16) detection
- Color manipulation functionality (hue shifting, lightness adjustments, RGB <-> HSV/HSL conversions, etc.)
- Degradation from truecolor to 256/basic values
- The fact we want to be able to map

[2015-07-01 05:34] Qix- commented on #11
Oh I'm not done.

Another consideration: if we go from high->low resolution on colors, the 16 color palette is going to be tricky.

[There are a few ways we can interpret RGB values for the 16 color palette.

![screen shot 2015-06-30 at 11 32 25 pm](https://cloud.githubusercontent.com/assets/885648/8448101/6c6aa6f6-1f80-11e5-80f5-d8806c4221c8.png)](https://en.wikipedia.org/wiki/ANSI_escape_code#Co

[2015-07-01 07:02] sunesimonsen commented on #11
@Qix- I also using full RGB values and degrading them to the 256 and 16 color palette. I wanted 256 colors to work in terminals that supports 256 colors but can't be detected as such, so we wrap the 256 color escape sequence in a 16 color escape sequence. Old terminals will ignore the 256 color escape sequence and fallback to the 16 color escape sequence. It is a bit hacky, but it works.

[2015-07-01 07:31] Qix- commented on #11
@sunesimonsen Ehh I feel like that's a workaround that will backfire on some terminals. Plus you're crapping up the terminal with more data than it needs - TTY operations are expensive as it is.

[2015-07-01 09:19] sunesimonsen commented on #11
@Qix- I'm not saying you should copy that, I'm just telling you want I have done.

[2015-07-06 22:21] jbnicolai commented on #11
@sunesimonsen that's pretty awesome actually :smile:  - although I don't suggest we copy that here

[2015-07-07 04:17] Qix- commented on #11
The fact is the color operations will be easy, it's the API that's troublesome.

[2015-07-22 08:01] Qix- commented on #11
I've made a PR for `color-convert` for ansi16/256 color degradation algorithms.

harthur/color-convert#18

[2015-07-23 07:12] MoOx commented on #11
PR as been merged and released as color-convert@0.6.0.

[2015-07-23 07:14] Qix- commented on #11
Thank you @MoOx :)

[2016-01-09 14:26] #11 closed

[2016-03-28 19:43] ajwhite opened #15 "[fixed] 2.1.0 exports broken in 2.2.0"
Via comments on https://github.com/chalk/ansi-styles/commit/74502955deaf0eb977507757e33c52cad5a9aefa#commitcomment-16867578

[code]

No longer works, with the result of

-----

Steps to reproduce:

1. Install 2.1.0 `npm install ansi-styles@2.1.0`
2. Use the code above
3. Update to 2.2.0 `npm install ansi-styles@2.2.0`
4. Re-run the same code, experience error

[2016-03-28 19:48] Qix- commented on #15
Yeah this should have been a major release....

@sindresorhus best plan of action?

[2016-03-28 20:09] Qix- commented on #15
Version 2.2.0 has been unpublished. We'll do a major bump sometime tomorrow.

Thanks for bringing this to our attention @ajwhite :+1:

[2016-03-28 20:18] ajwhite commented on #15
Thanks for the quick recovery!

[2016-03-28 20:20] Qix- commented on #15
![ninja-fail_o_588896](https://cloud.githubusercontent.com/assets/885648/14089074/c7c07232-f4e7-11e5-9285-370fccd3b43d.gif)

[2016-03-28 20:21] hulbert commented on #15
So you are aware, unpublishing breaks builds that have used shrinkwrap to pin to `2.2.0`.

[2016-03-28 20:25] Qix- commented on #15
@hulbert unpublishing breaks a lot of things, though it was necessary in this case I believe. Our next release will be 3.0.0 anyway.

Would you or @sindresorhus be willing to write some steps on how to fix the webpack issue if others are facing it? I've not used webpack personally.

---

Sorry if this inconvenienced anyone.

[2016-03-28 20:47] sindresorhus commented on #15
@hulbert The 2.2.0 version was broken. So I don't really see how not unpublishing would have helped when it's pinned?

[2016-03-28 20:51] akras14 opened #16 "Version not found: ansi-styles@2.2.0"
I am getting this error when trying to run:

`npm install ansi-styles@2.2.0`

[code]

[2016-03-28 20:53] sindresorhus commented on #15
Reopening for discovery.

-

I did a 2.3.1 patch release with the content of the old 2.1.0, just in case someone already upped it to `^2.2.0`.

[2016-03-28 20:53] sindresorhus commented on #16
See https://github.com/chalk/ansi-styles/issues/15.

[2016-03-28 20:53] #16 closed

[2016-03-28 21:37] Qix- commented on #15
## Post Mortem

2.2.0 was actually released on Feb 21. Some breaking changes that were finally merged (ref #13) were sitting in master until we wanted to do a major version bump. However these changes were inadvertently released in 2.2.0 when the next release should have been 3.0.0 (minor bump instead of a major bump).

Since chalk wasn't affected by the otherwise breaking changes (this was by-des

[2016-03-28 21:54] laurelnaiad commented on #15
... and remember to do the same with jspm if you're using it, where this was hitting our project

[code]

[2016-03-28 21:59] laurelnaiad commented on #15
Why was it necessary? Why not publish the version you intended at 2.2.1, and let everybody move forward? If they're referencing a broken 2.2.0 then they can update. I'm not trying to be a PITA about it, just curious where the necessity of unpublishing comes in as opposed to just publishing 2.2.1.

[2016-03-28 22:04] Qix- commented on #15
@laurelnaiad you're correct. Sindre and I discussed it more after the fact and we agree that a patch would have been better. A lesson for the future :+1:

[2016-03-28 22:04] laurelnaiad commented on #15
Ok, it's not a big deal, just wanted to understand. Thanks! :)

[2016-03-28 22:06] Qix- commented on #15
Thanks for the feedback :dancer:

[2016-03-28 22:07] laurelnaiad commented on #15
the dancer emoticon should be bigger so we can see her fabulous red dress

[2016-03-28 22:36] tlrobinson commented on #15
Seriously, unpublishing should be reserved for exceptional cases. I'm not sure how you thought this was a good idea less than a week after the left-pad incident.

[2016-03-28 22:38] bradvogel commented on #15
PLEASE don't unpublish! This causes disasters downstream. NO, NO!

[2016-03-28 22:40] Qix- commented on #15
@tlrobinson We didn't unpublish the module, just that particular version. Quite different.

@bradvogel We're aware. :+1:

[2016-03-28 22:55] tlrobinson opened #17 "Provide steps for shrinkwrap users to fix their builds after 2.2.0 was unpublished"
As suggested in #15 I'm opening this issue to help users who's projects/packages/builds are broken due to version 2.2.0 being unpublished, in particular in regards to version 2.2.0 being listed in `npm-shrinkwrap.json`.

I manually edited my `npm-shrinkwrap.json` but this is annoying and error prone, and I'd like to know if there's a better way. Deleting `npm-shrinkwrap.json` and re-running `npm s

[2016-03-28 23:04] Qix- commented on #17
// @sindresorhus

[2016-03-28 23:16] dr-nafanya commented on #17
Manual search/replace of `ansi-styles@2.2.0` to `ansi-styles@2.2.1` in `npm-shrinkwrap.json` *does* work.

[2016-03-28 23:20] Qix- commented on #17
Thank you @dr-nafanya.

[2016-03-28 23:20] Qix- commented on #17
Keeping open for discovery.

[2016-03-28 23:23] tlrobinson commented on #17
Yes, manually editing works in this case, however it leaves the `color-convert` dependency that was added in 2.2.0 in `npm-shrinkwrap.json`, which I think is harmless (aside from a little bit of wasted bandwidth), but if a dependency were *added* rather than *removed* this probably wouldn't work.

[2016-03-28 23:25] Qix- commented on #17
It shouldn't be a problem. The new version of `color-convert` was designed to work with the existing chalk API.

Good catch though :+1:

[2016-03-29 13:41] desbo commented on #17
If it's any help you can use https://gist.github.com/desbo/906326b08c05aa09e2fe to replace any occurrences of `ansi-styles` at 2.2.0 with 2.2.1 in `npm-shrinkwrap.json`.

[2016-03-31 14:34] enjikaka opened #18 "Cannot read property 'ansi' of undefined"
Running example from https://github.com/chalk/ansi-styles

spits out this error in console:

[code]

Issue in Ansy: https://github.com/IonicaBizau/ansy/issues/1#issuecomment-203933927

cc @IonicaBizau

[2016-03-31 16:39] Qix- commented on #18
Hi! See #15 - specifically, [the post mortem](https://github.com/chalk/ansi-styles/issues/15#issuecomment-202589714). We had a publishing snafu a few days ago and we realized a minor version was released with some broken code and had to roll back.

Your library depends on the new breaking changes (which is great! It's a much better API). Until we get a major release out, `ansy` will need to change

[2016-03-31 21:25] enjikaka commented on #18
Oh, ok. Thanks for the info! :)

[2016-03-31 21:29] Qix- commented on #18
No problem :) Sorry for the mixup!

[2016-03-31 21:29] #18 closed

[2016-04-01 08:55] ryanmcdonough opened #19 "warn Unable to resolve version 2.2.0 for ansi-styles"
I've looked at the issue that relates to 2.2.0 being unpublished, I've ran NPM shrinkwrap and change items to 2.2.1 - however I'm still getting:

warn Unable to resolve version 2.2.0 for ansi-styles

appearing multiple times during jspm install causing the entire thing to fail.

Am I missing something here?

[error.txt](https://github.com/chalk/ansi-styles/files/199269/error.txt)

[npm-shrinkwrap.

[2016-04-01 09:17] Qix- commented on #19
Does [this help](https://github.com/chalk/ansi-styles/issues/15#issuecomment-202595595) at all?

[2016-04-01 11:00] ryanmcdonough commented on #19
@Qix- Sadly not, it's on a build server this is happening so the environment is trashed everytime so it's a fresh jspm each time.

[2016-04-01 22:08] Qix- commented on #19
Can you bump Chalk to version 1.1.3? This shouldn't be happening, your npm-shrinkwrap.txt looks fine.

It could be that the CI you're using is caching modules or something, or it's behind a private registry. Versions should be fixed now, so anything like this is generally a caching problem of some sort.

[2016-04-04 04:35] patrickmichalina commented on #19
What is going on with this? I am getting the same error.

[2016-04-04 04:37] Qix- commented on #19
@patrickmichalina Have you tried everything listed above? If so, I'm pretty sure it's a bug with jspm.

[2016-04-04 05:00] patrickmichalina commented on #19
@Qix- Yes, I have tried clearing both npm and jspm caches. Neither resolves the issue directly. With JSPM I think the real fix is to delete the entire "map" object in the config.js file (sometimes named jspm.config.js). After that do a jspm cache-clear and should fix it right up.

[2016-04-04 05:09] Qix- commented on #19
@patrickmichalina can you confirm that worked?

[2016-04-04 05:10] patrickmichalina commented on #19
Yes sorry. It worked. I used that method to fix my project.

[2016-04-04 05:22] Qix- commented on #19
@ryanmcdonough can you try @patrickmichalina's solution and see if it works for you? Not sure if this something that is done in the project itself or if the CI will need to be fixed.

[2016-04-04 05:23] patrickmichalina commented on #19
@ryanmcdonough @Qix- Since this file is stored in source control, this fix works in CI. I can confirm. Deployed with VSTS online using this fix.

[2016-04-04 05:24] Qix- commented on #19
Great! I'm going to go ahead and close this.

@ryanmcdonough if this *doesn't* end up working for you, let me know. :+1:

Thanks for the help @patrickmichalina!

[2016-04-04 05:24] #19 closed

[2016-04-04 13:01] ryanmcdonough commented on #19
@Qix- @patrickmichalina that worked perfectly. Well in my case I upaed the maps in the config to 1.1.3 rather than cleared them and it worked.

[2016-04-04 17:45] Qix- commented on #19
Glad to hear it! Thanks again for all the help!

[2016-04-07 03:40] xcatliu commented on #17
Thanks @dr-nafanya
Problem fixed when I manually replaced `ansi-styles@2.2.0` to `ansi-styles@2.2.1` in `npm-shrinkwarp.json`

`ansi-styles` is an awesome module to control styles in terminal, but please known [it's a bad behavior to remove versions of a library that others are depending on](https://docs.npmjs.com/cli/unpublish)

Anyway, many thanks to @Qix- for the awesome library!

[2016-04-07 03:43] Qix- commented on #17
@xcatliu We're aware of the problems with unpublish :+1: Checkout the [post mortem](https://github.com/chalk/ansi-styles/issues/15#issuecomment-202589714).

[2016-04-13 19:22] #15 closed

[2016-04-13 19:22] #17 closed

[2016-10-20 08:15] shaochuancs opened #21 "Running xo reports error: Avoid using extended native objects"
When running xo to test code, it reports the following error.

test.js:5:26    Avoid using extended native objects

In test.js, this error is due to the use of "Object.entries" -- according to [node.green](http://node.green/), "Object.entries" is not well supported. Even in Node v6.9.1, it can only be available with "--harmony" tag.

Suggest using "Object.keys" instead of "Object.entries".

[2016-10-20 08:26] shaochuancs commented on #21
#22

[2016-10-20 08:26] #21 closed

[2016-10-20 08:27] sindresorhus commented on #21
AVA transpiles test files with Babel. So we can use it there.

[2016-10-27 15:51] YerkoPalma opened #23 "Different versions between npm and this repo"
I have a weird error. I copied the example from the readme

[code]

And it fails inmediatly with `TypeError: Cannot read property 'ansi256' of undefined`.
So I compared the source that I downloaded with npm and I found it is quite different from what is in this repo (I copied the downloaded code below). Now, I think thats strange, but I noticed that the version in the package.json file of this rep

[2016-10-27 16:23] sindresorhus commented on #23
We haven't published the version in master yet.

[2016-10-27 16:23] #23 closed

[2016-10-27 16:54] YerkoPalma commented on #23
haha should have checked branches first :smile:

So, that means that you are removing the ansi wrappers? so now I can't use custom colors like this `console.log(style.color.ansi256.rgb(199, 20, 250) + 'Hello world!' + style.color.close)`?

[2016-10-27 18:17] Qix- commented on #23
We're adding them ;) They just haven't been published yet.

[2016-12-08 17:35] shellscape opened #24 "Exported Categories"
Would the maintainers be open to an export style that groups styles and colors separately? At present version, all styles and colors are exported in the same object on the same level.

Additionally, it appears that the documentation in the README is no longer correct. `style.color` is now undefined.

[2016-12-08 18:18] sindresorhus commented on #24
That's already available, see: https://github.com/chalk/ansi-styles#advanced-usage

The readme is for a yet to be released version.

[2016-12-08 18:18] #24 closed

[2016-12-08 18:43] shellscape commented on #24
@sindresorhus I may be eating paint chips here, but if the README is for a yet to be released version, and the #advanced-usage section is in the README, and `style.color` (which is presently `undefined`) is part of the as yet unreleased version, am I hosed until that version is released? If so, can that be released on a beta tag or similar?

[2016-12-08 22:05] sindresorhus commented on #24
Readme for latest released version: https://github.com/chalk/ansi-styles/tree/95c59b23be760108b6530ca1c89477c21b258032#advanced-usage You can also find this on its npm page.

[2016-12-08 22:51] shellscape commented on #24
wonderful. thanks for pointing that out

[2016-12-10 18:48] joshuacoles opened #25 "NPM and Github versions out of sink?"
I was attempting to install the package and noticed that I was missing the code for ANSI 256 and 16m as well as getting a different version (`2.2.1`) than is in the master branch (`2.1.0`).

I believe that the NPM package is being published from branch `2.2.1` which I assume was created in response to #15. This branch does not contain any commit since a42e120 on July 01 2015. Am I correct in assum

[2016-12-10 21:09] Qix- commented on #25
Please see #23.

[2016-12-10 21:09] #25 closed

[2016-12-10 21:11] joshuacoles commented on #25
And I forgot to look in closed issues, sorry!!

[2017-02-04 14:36] roblav96 opened #26 "Possible to implement bright colors?"
I used to use https://github.com/medikoo/cli-color until I fell in love with `ansi-styles` simplicity 👍

One thing I do miss is the ability to use bright colors. I took at look at [their source](https://github.com/medikoo/cli-color/blob/master/lib/sgr.js#L34) but it looks like an achient hyroglyphics maze.

What are your thoughts on adding `light` to the list of modifiers? Great work mate!

[2017-02-04 20:21] Qix- commented on #26
Hi there, welcome! :Man_dancing:

I agree, we should have the light colors on the list! I can submit a PR for that here in a bit. However, an alternative that will return the bright codes is to use the `.color.ansi(r, g, b)` and `.bgColor.ansi(r, g, b)` functions. For example, `.color.rgb(255, 0, 0)` will return `[91m` - the bright red code! :)

Good suggestion :)

[2017-02-06 00:17] unional opened #27 "Not working correctly in Windows console"
Reference:  https://github.com/avajs/ava/issues/1124
What works in windows: https://github.com/unional/aurelia-logging-color/blob/master/src/AnsiBrush.ts#L32

[2017-02-06 05:54] roblav96 commented on #26
@Qix- I've been using the rgb so far which is definitely a killer feature. Although the colors wouldn't correlate with my terminal theme which is the only reason I'm wondering about this feature. 👍

[2017-02-06 08:06] Qix- commented on #26
@roblav96 If you use the ansi 16 version, they should. :)

Ill still add bright colors, though!

[2017-02-06 08:07] Qix- commented on #27
That's exactly what we're doing. This isn't an ansi-styles bug, but alternatively an AVA bug.

[2017-02-06 08:07] #27 closed

[2017-02-06 08:23] unional commented on #27
It does not. I trace through the code and in windows environment (at least when running in ava) the `offset` in https://github.com/chalk/ansi-styles/blob/master/index.js#L6 is incorrect.

[2017-02-06 08:38] unional commented on #27
You can easily test it yourself by:

[code]
[code]

[2017-02-06 08:55] unional commented on #27
Actually, let me show you the result:
![image](https://cloud.githubusercontent.com/assets/3254987/22640334/0305baf2-ec07-11e6-8aab-b3460a0a178c.png)

[2017-02-06 09:19] Qix- commented on #27
What is the `offset`? That's just for foreground/background. It should either be 0 or 10.

`supports-color` is probably reporting that it's not enabled, which most of our tickets here address pretty extensively. Please check those to figure out if supports-color is reporting that it's not enabled.

This is still an AVA issue until I see otherwise.

[2017-02-06 09:21] Qix- commented on #27
Locking so we don't duplicate conversations.

[2017-02-06 18:06] roblav96 commented on #26
@Qix- That would be totes mc🐐s awesome. Thanks mate!

[2017-03-24 02:12] #26 closed

[2017-04-18 04:31] x13machine opened #31 "the npm version is outdated"

[2017-04-18 08:19] sindresorhus commented on #31
We'll do a new release when https://github.com/chalk/ansi-styles/pull/28#issuecomment-294725365 is done.

[2017-05-24 20:35] antoine-pous opened #32 "Bold seem broken"
Hi!

In `inquirer` package answers are empty. After investigating it appear that `chalk.bold` return nothing.

Incriminated code: https://github.com/SBoudrias/Inquirer.js/blob/master/lib/prompts/base.js#L129
Related issue: https://github.com/SBoudrias/Inquirer.js/issues/536

**Note:** I have tested with the latest chalk version and the issue is still present

Thank you !

[2017-05-24 22:07] Qix- commented on #32
@sindresorhus we really need an issues template :o

Operating system and version? Command prompt/terminal emulator name and version? Value of `TERM` environment variable? Which shell are you using (bash / zsh / N/A)?

All of our colors and styles are ANSI compliant, so most terminals are going to treat them the same.

[2017-05-25 07:19] antoine-pous commented on #32
Sorry for the lack of informations, here's the configuration:

- **OS:** Ubuntu  16.10
- **Terminal:** xterm 324
- **Emulator:** Gnome terminal 3.20.2 (VTE 0.44.2)
- **$TERM:** xterm-256color
- **Shell:** bash
- **NodeJS:** 7.9.0

[2017-05-25 08:26] Qix- commented on #32
Can you take a screenshot of the following command and post it back here?

[code]

[2017-05-25 08:48] antoine-pous commented on #32
![selection_319](https://cloud.githubusercontent.com/assets/7486600/26443230/bd4b7ff2-4137-11e7-8dbd-83b9d73d1099.png)

[2017-05-25 09:42] Qix- commented on #32
This isn't a problem with chalk (or any software that uses chalk), it's a problem with your terminal emulator. For some reason, its blanking out bold escapes (I've never seen that before).

Make sure you're up to date, and try using another terminal emulator. Sorry you're experiencing this, these kinds of bugs are frustrating. :/

[2017-05-25 09:42] #32 closed

[2017-06-12 22:32] Qix- commented on #31
It's been done, sorry I didn't get around to addressing the issues.

[2017-06-12 22:32] #31 closed

[2017-06-12 22:42] Qix- commented on #31
Published as `3.1.0`. :)

[2017-07-07 17:27] vsimonian opened #33 "blackBright is mentioned in README but is not implemented"
`blackBright` is [mentioned as a supported foreground colour in `README.md`](https://github.com/chalk/ansi-styles/blob/f7f811d78416b7e176b72b17378f037308d195a0/readme.md#colors) but is [not actually implemented in `index.js`](https://github.com/chalk/ansi-styles/blob/f7f811d78416b7e176b72b17378f037308d195a0/index.js#L32-L51).

Because `blackBright` is really just grey, it's not immediately clear i

[2017-07-07 21:41] Qix- commented on #33
Black bright is actually it's own color believe it or not. On Windows there are four greyscale shades.

I'll take a look :)

[2017-07-07 21:46] vsimonian commented on #33
Had no idea. Please, by all means, take a look.

Side note: I spent last night trying to get black on yellow to show up nicely on Windows... I wish I could have that time back.

[2017-07-07 21:48] Qix- commented on #33
What did you try? Are you using chalk or consuming `ansi-styles` directly?

[2017-07-07 21:58] vsimonian commented on #33
I was using chalk. Even with `rgb(0,0,0)` I'd get a weird grey-ish hue instead of full black.

Then I made it blue on yellow, and it was legible with both default colours and base16-tomorrow. Go figure!

[2017-07-07 22:22] Qix- commented on #33
@vsimonian So even with `rgb(0, 0, 0)` depending on your windows version, that's just going to get encoded down to `black` 😅. If you're on windows 10, that might be a different story though.

[2017-07-07 22:24] vsimonian commented on #33
Yes, Windows 10. I was just trying everything out of desperation. Probably went through every combination of black or black-ish you could think of. Still possible I missed something; I was pretty frustrated!

It works now and I'm afraid to touch it.

[2017-07-07 22:28] #33 closed

[2017-07-07 22:29] Qix- commented on #33
Is this cmd.exe or some other terminal that you're using?

Also thanks for the report. `gray` is considered `blackBright` (which are both `90` in this case).

[2017-07-07 22:48] vsimonian commented on #33
Aha, I said it was gray! (C'mon, had to boast a little bit.)

About the colours, I tried everything I could think of: `cmd.exe`, WSL running in the default Windows command-line shell, WSL running in MinTTY, and VSCode's integrated terminal. All of them were more than happy to give me a disgusting grey instead of black.

I thought it might be artefacts from the font-smoothing mudding up the black t

[2017-07-07 22:51] vsimonian commented on #33
Also, you might want to commit the same fix you made here on `chalk/chalk` - it has the same exact text in the readme. 👍

[2017-07-07 23:08] Qix- commented on #33
That's actually super weird. `bgKeyword('orange')` should be resolving down to yellow in theory within [`color-convert`](/qix-/color-convert). keyword -> rgb -> ansi16 (for level 1).

[2017-07-07 23:10] Qix- commented on #33
Just tested:

[code]

Which is bright yellow (ansi-styles will add 10 to get the background code in this case). So maybe those terminals don't support bright codes? Very strange.

Just curious; what does the following show up as:

[code]

[2017-07-07 23:41] vsimonian commented on #33
Here comes a looooong comment

- `cmd.exe`:
  ![image](https://user-images.githubusercontent.com/9868643/27980295-f1f36af0-6331-11e7-9a3b-817205642953.png)
- ConHost/WSL:
  ![image](https://user-images.githubusercontent.com/9868643/27980334-50a865e6-6332-11e7-94f6-a6d3d3962d00.png)
- MinTTY/WSL:
  ![image](https://user-images.githubusercontent.com/9868643/27980312-2424ac0a-6332-11e7-86be-0fa203855

[2017-07-08 01:44] Qix- commented on #33
What build of Windows 10 are you on?

Conhost doesn't surprise me at all. Don't use it if you want terminal colors IMO.

Anyway, you're right in that cmd.exe should be working.

[2017-07-08 02:31] vsimonian commented on #33
Version 1703, build 15063

And I agree ConHost is <s>garbage</s> needing of improvement. But I still need to account for users out of my control using ConHost; at the very least they should have legible text (and in this case, while _ugly_, it is at least still legible).

And don't go thanking me for spamming this issue with pictures - at this point I might as well just be venting. Thanks for look

[2017-07-08 02:36] Qix- commented on #33
Inverse is its own code, `[7m`. It's archaic and IMO shouldn't exist anymore, but it does. It tells the emulator to reverse the fore- and background colors under the hood. We're not doing anything special there, and so in certain cases where the foreground bright codes (`9x`) are supported but the background codes aren't (`10x`), sometimes inverse works.

It's pretty cross platform compatible in t

[2017-07-08 02:39] vsimonian commented on #33
I haven't had a chance to have a crack at testing this on my Fedora installation or on my MacBook, but if I get you correctly, you're saying using this archaic code fooled Windows into doing the right thing, but on *nix OSes I would have been most likely getting the correct colour output with just `bgYellow.black.bold`?

[2017-07-08 03:12] Qix- commented on #33
Correct.

[2017-07-11 13:13] oliveiradouglas opened #34 "NPM install error"
Hello!
I am trying run `npm install` command and am getting the error bellow:

`npm ERR! fetch failed https://registry.npmjs.org/ansi-styles/-/ansi-styles-2.2.0.tgz`

Any idea?

[2017-07-11 13:59] sindresorhus commented on #34
Open an issue on npm.

[2017-07-11 13:59] #34 closed

[2017-07-11 15:32] ashleyryan commented on #34
I'm getting the same. The versions property of https://registry.npmjs.org/ansi-styles/ doesn't include 2.2.0, but the 'time" property does show a 2.2.0

[2017-07-12 15:42] Simounet commented on #34
Hi there,
I've got the same issue and I saw that the 2.2.0 tag is not on your Github repo anymore. Maybe not an npm issue after all.

[2017-07-12 17:11] Qix- commented on #34
2.2.0 got unpublished about a year ago, I don't exactly remember why but I know we had a brief outage over at Chalk proper. Please use 2.2.1 instead (unless your version selectors are too strict, this shouldn't be happening). I'm not sure where this came from since this hasn't been a problem for over a year, though I suspect it might have to do with npm@5.

[2017-07-13 10:40] Simounet commented on #34
Thanks for your quick reply.
I investigate and found some packages using `chalk@1.1.1` that needs `ansi-styles@2.2.0`. I can take [gulp](https://github.com/gulpjs/gulp/blob/v3.9.1/package.json#L30) as an example. I'm using `npm shrinkwrap` and it forces `npm install` to use the exact versions. I'm on `npm@4.6.1` by the way.

[2017-07-13 15:56] Qix- commented on #34
Chalk 1.1.1 is also an old version that was problematic. It should be pulling 1.1.3 IIRC. Not sure why this is surfacing now as we haven't had problems with this for over a year.

[2017-07-21 15:15] eschwartz commented on #34
I don't necessarily have control over which version I'm using, as it's a dependency of a dependency.
Unpublishing seems like it's going to cause all sorts of problems for people (I thought npm stopped allowing un-publishing after the whole left-pad debacle).
Any chance you could re-publish v2.2.0, maybe from the same commit as v2.2.1?

[2017-07-21 18:39] Qix- commented on #34
What is the semver selector they're using? It should be automatically pulling 2.2.1 as it's a bugfix release.

[2017-07-31 05:19] Qix- opened #36 "Ambiguous error when keyword doesn't exist"
A strange error is thrown if the argument thrown to `keyword()` doesn't exist.

[code]

[2017-08-21 15:38] benjaminapetersen opened #38 "Did the 2.2.0 release disappear?"
I recently began experiencing the following errors:

[code]

This is a dependency of a dependency, not something I'm directly dependent upon.  Wondering if  the `2.2.1` intentionally replaces due to a security issue?

[2017-08-22 00:08] Qix- commented on #38
Yes - this was a problem that was resolved ages ago that NPM has now resurfaced with their sub-par `package-lock.json` logic I think. See npm/npm#17723.

Either use Yarn or try to blow away your `node_modules/` and try again. It _should_ be pulling ansi-styles 2.2.1.

[2017-08-22 01:30] benjaminapetersen commented on #38
Ok thanks!  Fishing through my dependencies to try to figure out which one keeps asking for `2.2.0` & won't let it bump ☹️

[2017-08-22 01:56] #38 closed

[2017-08-22 02:18] Qix- commented on #38
Using Yarn will show you the dependency stack - try that first.

[2017-09-27 16:40] captainkovalsky opened #39 "Unable to install the package"
There is an 404 error during the package installation

## Environment
[code]

### Steps to reproduce:
1. run `npm i ansi-styles`

#### Actual result:
[code]

#### Expected result:
package should be install successfully

[2017-09-28 03:23] sindresorhus commented on #39
Use the npm issue tracker for npm install issues: https://github.com/npm/npm/issues

[2017-09-28 03:23] #39 closed

[2017-10-15 21:02] ORESoftware opened #40 "missing module => 'color-convert'"
I filed this issue with chalk, but I think it should be filed with this repo?

https://github.com/chalk/chalk/issues/214

[2017-10-16 02:36] sindresorhus commented on #40
https://github.com/chalk/chalk/issues/214#issuecomment-336765240

[2017-10-16 02:36] #40 closed

[2017-10-24 03:15] danthegoodman commented on #36
[`wrapAnsi16m`](https://github.com/chalk/ansi-styles/blob/master/index.js#L15] seems to be the culprit here. Should it throw an error if the `fn` returns undefined or should the error be thrown inside of the `color-conversion` library when it [converts a keyword to rgb](https://github.com/Qix-/color-convert/blob/master/conversions.js#L203)?

@Qix- I'm happy to do a PR to either project, but I felt

[2017-10-24 04:35] sindresorhus commented on #36
I think it should be an error in `color-conversion`, but I'll let @Qix- make the final call.

[2017-10-24 04:51] Qix- commented on #36
I think it's correct that `color-convert` returns `null` if the keyword doesn't exist - in which case, `ansi-styles` should throw.

cc @danthegoodman - feel free :) It'd be super appreciated.

[2017-10-31 05:43] danthegoodman commented on #36
I'm happy with the solution implemented for `color.ansi16m.keyword`, since it will cleanly handle other functions if they decide to start returning null or undefined.

Unfortunately, the error handling for `color.ansi256.keyword` and `color.ansi.keyword` is specific to the keyword function. These functions caused the same ambiguous error deeper within the `color-convert` library.

When I had only

[2017-11-03 16:30] aaronbeall opened #42 "Why the open/close API"
Why does the API expose `.open` and `.close` on everything, even though `.close` is not generally specific to the style? For example `console.log(styles.red.open, "I'm red", styles.green.close, "What color am I?")` doesn't make a lot of sense...

[2017-11-03 16:50] sindresorhus commented on #42
It's up to you to match them correctly. This module is low-level and meant for creating terminal styling libs like `chalk`. If all you want is to style string, use `chalk` instead.

[2017-11-03 16:50] #42 closed

[2017-11-03 17:54] aaronbeall commented on #42
Ok, so the reason is that the API is not meant to be "friendly", but conveniently consumed by a higher level library. Fair enough. :) FYI the reason I want to use the codes directly is because libraries like `chalk` are excellent but string interpolation messes with some things native console handles well, for example native `console.log(styles.red.open, error)` vs `console.log(chalk.red(error))`

[2017-11-03 18:11] sindresorhus commented on #42
Try `console.log(chalk.red(util.inspect(error)))` or `console.log(chalk.red('%s'), error)`

[2017-11-03 18:28] aaronbeall commented on #42
`console.log(chalk.red('%s'), error)` isn't right, `util.inspect` gives good output in most cases, but that this point it's gone full circle... I just want red output. :P

[2017-11-03 18:35] sindresorhus commented on #42
Oops, I meant `console.log(chalk.red('%O'), error);`

[2017-11-03 18:39] aaronbeall commented on #42
That works nicely! Thanks

[2018-02-11 10:24] sindresorhus commented on #36
@Qix- I disagree. Incorrect input should throw, not silently return null`. That's what the user would expect, and how Node.js and browser APIs work too. Can you please reconsider?

[2018-02-12 05:06] sindresorhus commented on #36
They should throw too, though.

Then there should be a separate method to check whether a keyword is valid. Please make the common-case user-friendly.

This is not about flow control. It's about input validation and not silently accept invalid input.

[2018-03-02 20:43] Qix- commented on #36
So I should add input validation to every single conversion method?

[2018-04-08 06:46] dominikwilkowski opened #47 "No greenBright open and close"
Hey there,

Your readme says you can use:

[code]

And that you support `greenBright` among others but it's output is missing those new colors:

[code]

Above will output this:

[code]

[2018-04-08 06:51] dominikwilkowski commented on #47
Never mind, had a npm package error. simply deleting and reinstalling dependencies fixed it. Move along, nothing to see :)

[2018-04-08 06:51] #47 closed

[2018-06-11 23:35] Qix- opened #48 "blackBright doesn't exist"
ref chalk/chalk#257

[2018-07-14 20:09] sindresorhus commented on #36
Yes

[2018-09-18 07:46] #48 closed

[2019-01-25 08:55] bullyork opened #52 "Uncaught SyntaxError: Use of const in strict mode."
This pkg use `const` in node_modules
But wepack&&bable-loader usually ignore node_modules;
This results to a bug in development env;

[code]

[2019-02-12 12:40] bullyork commented on #52
@sindresorhus thx

[2019-07-12 07:40] sindresorhus commented on #36
Closing in favor of https://github.com/Qix-/color-convert/issues/72.

[2019-07-12 07:40] #36 closed

[2019-09-02 10:37] MirceaUngureanu opened #54 "Syntax error in IE11 due to arrow function currying"
There is an issue in IE11 where I think the transpiler fails to convert the code correctly.
This means it breaks any module that requires this as a dependency.
source
[code]

vs

transpiled in IE11
[code]

Please let me know if you need any more details, and thanks for the effort you put into creating /maintaining this.

[2019-09-02 10:49] Qix- commented on #54
You mention transpiling; if you're using a transpiler such as Babel, then you're missing some configuration. I recommend checking out their `@babel/preset-env` package for more information.

We do not transpile our releases, however - that's up to you.

[2019-09-02 10:49] #54 closed

[2019-09-02 11:01] MirceaUngureanu commented on #54
Thanks for the quick reply.

[2019-12-03 18:15] thedrew12 commented on #54
@MirceaUngureanu @Qix-  How did you fix it? I'm using create-react-app and running into the same issue. I would think create-react-app would do all the transpiling already, but that doesn't seem to be the case.

[2019-12-03 18:30] thedrew12 commented on #54
Figured it out, https://github.com/facebook/create-react-app/issues/6924#issuecomment-487312199

[2020-01-31 13:08] afrankel-sfdo opened #57 "IE11 syntax error"
Syntax error in IE11 `SCRIPT438: Object doesn't support property or method 'entries'`

index.js:123 `	for (const [groupName, group] of Object.entries(styles)) {`

Found using Create React App v3.3.1: https://github.com/facebook/create-react-app/releases/tag/v3.3.1

[2020-01-31 13:14] Qix- commented on #57
Please open an issue with them. This is valid es2015.

[2020-01-31 13:14] #57 closed

[2020-02-19 23:00] DarthHater opened #58 "Why is @types/color-name a production dependency?"
Just curious. We are using ansi-styles via chalk, and I saw this in upstream dependencies and wondered why a types file was in prod deps!

Thanks!

cc @allenhsieh

[2020-03-05 10:46] Richienb commented on #58
@DarthHater `@types/color-name` contains an array of CSS colour names which are reused in https://github.com/chalk/ansi-styles/blob/master/index.d.ts#L24.

[2020-04-07 09:57] dinony opened #59 "Provide es5 lib output"
Current artifact contains arrow functions: https://unpkg.com/ansi-styles@4.2.1/index.js

Please also provide es5 output, since this lib gets hoisted into the development bundle (via CRA), to support older browsers, without having to eject CRA.

[2020-04-07 10:48] sindresorhus commented on #59
This module mainly targets Node.js, not the browser. It's up to you to transpile it with Babel if you want to use it in the browser. You can find a more detailed explanation here: https://github.com/sindresorhus/ama/issues/446

If you use Webpack, check out [`babel-engine-plugin`](https://github.com/SamVerschueren/babel-engine-plugin), which transpiles only the dependencies that needs to be transp

[2020-04-07 10:48] #59 closed

[2020-04-07 11:21] dinony commented on #59
Ah, ok I had the following issue:

https://create-react-app.dev/docs/supported-browsers-features

[2020-05-13 10:42] bodinsamuel commented on #58
I would argue that type definitions does not belong to production even if it's a required in this package

[2020-09-04 16:15] sindresorhus commented on #58
@bodinsamuel Your argument makes no sense. If it's not a dependency, it will cause a an error for TypeScript consumers.

You could argue that it doesn't need to be there and that method could be typed as a `string` instead, but I like type-safety and autocomplete.

[2020-09-04 16:16] sindresorhus commented on #58
However, I'm open to inlining a union of all the colors if someone does a **good** PR for it.

[2020-10-04 19:14] #58 closed

[2021-01-15 18:47] Yash-Singh1 opened #66 "Add support for overline"

[2021-01-16 05:38] Qix- commented on #66
PR welcome. :)

[2021-01-16 07:15] sindresorhus commented on #66
Such PR should come with tests, docs (which mention which terminals support this style), and index.d.ts updates.

[2021-01-16 18:36] Yash-Singh1 commented on #66
I will tackle this later.

[2021-01-22 14:21] sindresorhus commented on #66
Fixed by https://github.com/chalk/ansi-styles/commit/80dcce218e1403480696d8c17bc4c24d052bbf09.

[2021-01-22 14:21] #66 closed

[2021-04-24 19:31] electrovir opened #72 "Can't import into TypeScript node project"
I've been using `v5.2.0` fine for a while. I just upgraded to `v6.1.0` and I can't get the `ansi-styles` import to work properly anymore.

Here's my `v5.2.0` code which used to work:

[code]

After upgrading to `v6.1.0` I get the following TypeScript error:

[code]

If I change the code to the following (with `v6.1.0`) then TypeScript is happy:

[code]

but now I get the following error:

[code]

[2021-04-24 19:39] sindresorhus commented on #72
Please read the release notes.

[2021-04-24 19:39] #72 closed

[2021-04-24 19:46] electrovir commented on #72
I think I found it! I spent a while trying to find some kind of documentation like this before opening this issue but failed. At least now it's tracked in this issue.

For any others, the "release notes" in question appear to be this: https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c

[2021-06-03 23:19] Yash-Singh1 opened #75 "Add support for superscript and subscript"
https://en.wikipedia.org/wiki/ANSI_escape_code#:~:text=73,75

[2021-06-04 05:13] sindresorhus commented on #75
According to Wikipedia, it's only implemented in mintty. I don't think it makes sense for us to support something with such limited usefulness.

If you want to see this happen, you could open an issue on all popular terminals and ask them to implement it.

[2021-06-22 13:20] alimek opened #76 "Problem from version`5+` to Regex when using ReactNative Hermes engine"
Problem is in that line: https://github.com/chalk/ansi-styles/blob/cd0b0cb59337bfd7d3669b2d0fcde7ff661a83a6/index.js#L132

When generating hermes bytecode it is failing because `Invalid regular expression: Quantifier has nothing to repeat`

Some info here: https://github.com/facebook/hermes/issues/89

I also think it may be related to `https://github.com/facebook/jest/blob/master/packages/pretty-f

[2021-06-22 13:38] sindresorhus commented on #76
This package targets Node.js 12. For any other platform/engine, you're on your own. We don't plan to add any workarounds for Hermes.

[2021-06-22 13:38] #76 closed

[2021-08-07 15:27] bishanqbs opened #77 "'ansi-styles@2.2.0' is not in the npm registry."
Please restore or add this.

![image](https://user-images.githubusercontent.com/75665081/128605386-ce6e901c-1adb-48a0-bf8d-275c906a3153.png)

[2021-08-07 20:12] Qix- commented on #77
Yep, doesn't appear to have ever been a version we've published. Nothing we can do, someone's added the wrong version somewhere in your codebase.

There's nothing actionable for us to do here.

`npm ls` is your friend here. Good luck!

[2021-08-07 20:12] #77 closed

[2022-01-17 12:06] Fra-Pic opened #79 "Blinking text"
Hi there.

I needed text blinking but I noticed that the package itself does not support it, neither slow nor fast. I managed to handle slow blinking by adding few lines of code but I would like to know if it may be handled by default from the package or if it may bring to errors that i may not know under different situations.
To be honest I am not sure if every terminal act the same way, I have r

[2022-01-17 15:52] Qix- commented on #79
See #1.

[2022-01-17 15:53] Qix- commented on #75
I don't see this happening anytime soon, probably best just to assume it won't happen.

[2022-01-17 15:53] #75 closed